---
import LayoutStacked from '../../app/LayoutStacked.astro';
import ErrorMaintenance from '../../modules/ErrorMaintenance.astro';
---

<LayoutStacked>
<section class="chat-container" style="width: 100%; max-width: 600px; margin: auto;    ">
  <h2>Chat con n8n</h2>
  <iframe 
    src="https://18.212.208.23/webhook/531841df-acb0-4217-afbd-93268ffa470a/chat" 
    style="width:100%; height:500px; border:1px solid #000000ff; border-radius:8px;"
    title="n8n Chat"
  ></iframe>
</section>
</LayoutStacked>
